*{
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
}

.layout{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 70px 1fr 80px;
  height: 100%;
}




main{
  grid-area: main;

}
