header{
    grid-area: header;
    background-color:rgb(167, 35, 17);
    color:white;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  }